div{
    background-color: purple;
}
.second{
    background: cyan;
}
#third{
    background-color: black;
}
.bgred{
    background-color: yellow;
    padding: 50px;
    border: 2px solid red;
}
/* this is for bggreen section  */
.bggreen{
    background-color: tomato;
    padding: 50px;
    border: 2px solid red;
}
 